<div class="footer">
    <div class="container clearfix">
        <div class="footer-wrapper">
          <p>
            <a href="#">数据来源：</a>
            <a href="http://dota2.178.com/" target="_blank">178Dota2</a>
            <a href="http://dotamax.com/" target="_blank">dotamax</a>
            <a href="http://carry6.com/" target="_blank">星竞界</a>
          </p>
          <p>
              <a href="http://www.miibeian.gov.cn/" target="_blank"></a>
          </p>
        </div>
    </div>
</div>