<div class="footer">
    <div class="container clearfix">
        <div class="footer-wrapper">
          <p>
            <a href="#">数据来源：</a>
            <a href="http://youku.com/" target="_blank">优酷</a>
          </p>
          <p>
              <a href="http://www.miibeian.gov.cn/" target="_blank"></a>
          </p>
        </div>
    </div>
</div>