<head>
  <meta charset="utf-8">
  <title>KanDota</title>

  <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="http://designmodo.github.io/Flat-UI/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://designmodo.github.io/Flat-UI/dist/js/vendor/html5shiv.js"></script>
    <script src="http://designmodo.github.io/Flat-UI/dist/js/vendor/respond.min.js"></script>
  <![endif]-->
  <style>
    .text_overflow{
        width:15em;
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;
    }
    .footer p, .footer p a { font-size: 14px; text-align: center; font-family: "Microsoft YaHei"; color: #4d6373; margin: 0 10px; }
    .tile p {margin-bottom: 6px;}
  </style>
</head>