<html lang="en">
  <% include head %>
  <body>
    <div class="container">
      <% include navbar %>
      <% include content %>
    </div>
    <% include footer %>
    <script src="http://designmodo.github.io/Flat-UI/dist/js/vendor/jquery.min.js"></script>
    <script src="http://designmodo.github.io/Flat-UI/dist/js/flat-ui.min.js"></script>
    <script src="http://designmodo.github.io/Flat-UI/docs/assets/js/application.js"></script>
  </body>
</html>
