<html lang="en">
  <% include head %>
  <body>
    <div class="container">
      <% include navbar %>
      <% include content %>
    </div>
    <% include footer %>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/flat-ui.min.js"></script>
  </body>
</html>
