<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" target="javascript:;">KanDota</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
          <li><a href="/dota2">Dota2视频</a></li>
          <li><a href="/dota">Dota视频</a></li>
          <!--<li><a href="#fakelink">解说</a></li>-->
          <!--<li><a href="#fakelink">周边趣事</a></li>-->
          <li><a href="#fakelink">关于我们</a></li>
         </ul>
         <form class="navbar-form navbar-right" method="GET" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" name="q" value="<%= params.q %>" type="search" placeholder="搜索">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>
            </div>
          <form>
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
  </div>
</div>
